
:root{
    --primary-color:#2e3638;
}

li{list-style: none;}


h1{font-size: 1.3em;}
.text-playlist{font-size: 1.3em}
.main-content{overflow-y: auto;}
.plus-nav{font-weight: 900;}
.nav{max-height: 100%;}
.img-logo-nav{font-size: 1.5em;}
.nav-main{height: calc(100% - 20%);}
.nav-footer{max-height: 20%;}
.cd{
    width: calc(100% / 6);
}

.play{
    left: 35%;
    top: 38%;
    font-size: 4em;
    color: white;
    filter: opacity(0);
}

/* hover */
.play:hover{filter: opacity(1);}
.cd:hover{filter: opacity(0.7);}
.plus-nav:hover,
.button:hover{
    transition:padding 2s;
    padding: 10px;
}

.nav-tools:hover,
.option-nav:hover{border-left: 3.5px solid green;color: white;}

.option-bar:hover{border-bottom: 3.5px solid green;color: white;}
/* hover */

.track-audio{
    height: 5px;
    width:70%;
    border-radius: 25px;
}
.playlist{
    padding-top: 10px;
    padding-bottom: 12px;
    overflow-y: auto;}

footer{
    background-color: var(--primary-color);
}


/* medium (sotto i 768)*/
@media (max-width: 768px) { 
    .flex-albums{flex-wrap:wrap;}
    .cd{width: calc(100% / 4);}
    *{font-size: 16px;}
    h3{font-size: 9px;}
    .didascalia-albums,
    .option-bar
    {font-size: 12px;}
    .container-generi{flex-wrap: wrap};
    .option-bar{width: calc(100% / 3);}
    h1{font-size:1em;}

   
 }

/* small (sotto i 468)*/
@media (max-width: 468px) { 
    .flex-albums{flex-wrap:wrap;}
    .cd{width: calc(100% / 2);}
    *{font-size: 8px;}
    .didascalia-albums,
    .option-bar{font-size: 5px;}
    .container-generi{flex-wrap: nowrap};
    .option-nav{display: none;}
    .library{padding-left: 8px;}
    .text-playlist,
    .text-option-nav,
    .plus-nav,
    .logo-option-nav{display: none;}
    
    nav{
        max-width: 10%;
        padding-right: 0px;
}
   
    #img-logo{
        width: 80%;
    }

    .img-logo-nav{font-size: 2.5em;}

}


    

 



